<%= form_for @question, url: @url do |f|  %>
  <div class='row'>
    <div class='col'>
      <div class='form-group'>
        <%= f.label :title, 'Pregunta' %>
        <%= f.text_field :title, class: 'form-control' %>
      </div>
    </div>
  </div>

  <div class='row'>
    <div class='col'>
      <div class='form-group'>
        <%= f.label :text, 'Descripción' %>
        <%= f.text_field :text, class: 'form-control' %>
      </div>
    </div>
  </div>

  <div class='row'>
    <div class='col'>
      <div class='form-group'>
        <%= f.label :category_id, 'Categoría' %>
        <%= f.select :category_id, Category.pluck(:name, :id), {}, class: 'form-control' %>
      </div>
    </div>
  </div>

  <div class='row'>
    <div class='col-md-6'>
      <%= link_to 'Cancelar', common_questions_path, class: 'btn btn-light btn-block' %>
    </div>
    <div class='col-md-6'>
      <%= f.submit 'Crear pregunta', class: 'btn btn-primary btn-block' %>
    </div>
  </div>
<% end %>
