<%= form_for @question, url: @url do |q|  %>

<div class="row">
  <div class="col">
    <div class="form-group">
      <%= q.label :title, "Pregunta" %>
      <%= q.text_field :title, class: "form-control" %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col">
    <div class="form-group">
      <%= q.label :text, "Descripción" %>
      <%= q.text_field :text, class: "form-control" %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col">
    <div class="form-group">
      <%= q.label :category_id, "Categoría" %>
      <%= q.select :category_id, 
      options_for_select(Category.all.collect { |p| [p.name, p.id]}), 
      {}, class: "form-control" %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <%= link_to "Cancelar", common_questions_path, { class: "btn btn-default", style: "width: 100%; border-color: #DCDCDC;" } %>
  </div>
  <div class="col-md-6">
    <%= q.submit "Crear pregunta", class: "btn btn-primary", style: "width: 100%;" %>
  </div>
</div>
<% end %>