<% provide(:title, "Preguntas") %>

<% @questions.each_with_index do |question, index| %>
  <%= form_for question, url: common_questions_path do |q| %>
    <div class="mt-4">
      <h4>Pregunta #<%= index + 1 %></h4>
    </div>
    <div class="row">
      <div class="col-12 col-md-4">
        <div class="form-group">
          <%= q.label :title, "Pregunta" %>
          <%= q.text_field :title, class: "form-control", disabled: true %>
        </div>
      </div>
      <div class="col-12 col-md-4">
        <div class="form-group">
          <%= q.label :text, "Descripción" %>
          <%= q.text_field :text, class: "form-control", disabled: true %>
        </div>
      </div>
      <div class="col-12 col-md-4">
        <div class="form-group">
          <%= q.label :category_id, "Categoría" %>
          <%= q.text_field :category_id, value: question.category.name, class: "form-control", disabled: true %>
        </div>
      </div>
      <div class="col-12 col-md-4">
        <div class="form-group">
          <%= link_to common_question_path(question), method: :delete, data: { confirm: '¿Estás seguro que deseas eliminar esta pregunta?'} do %>
                <span style="color: red"><i class="fa fa-trash"></i>Eliminar</span>
		      <% end %>
          <%=link_to 'Editar', edit_common_question_path(question) %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>	

<%= button_to "Agregar pregunta", common_questions_new_path, class: "btn btn-primary btn-block text-white", method: :get%> 
