<% provide(:title, "Mi Información") %>

<div class="container">
	<div class="row align-items-center">
		<div class="col text-center">
			<h1>Mi información</h1>
		</div>
	</div>

		<%= form_for @user, url: judge_judge_path do |f| %>
			<%= f.fields_for :judge, @user.judge do |j| %>

				<%= f.hidden_field :role, :value => "judge" %>

				<div class="row">
					<div class="col-12 col-sm-6">
						<div class="row">
							<div class="col">
								<div class="form-group">
									<%= f.label :email %>
							    	<%= f.email_field :email, class: "form-control", disabled: true %>
						    	</div>
							</div>
						</div>
						<div class="row">
							<div class="col">
								<div class="form-group">
									<%= f.label :password %>
						    		<%= f.password_field :password, class: "form-control", disabled: true %>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col">
								<div class="form-group">
									<%= f.label :password_confirmation %>
						    		<%= f.password_field :password_confirmation, class: "form-control", disabled: true %>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col">
								<div class="form-group">
									<%= j.label :name %>
						    		<%= j.text_field :name, class: "form-control", disabled: true %>
								</div>
							</div>
						</div>	
						<div class="row">
							<div class="col">
								<div class="form-group">
									<%= j.label :has_tablet, class: "form-check-label" %>
							    	<%= j.check_box :has_tablet, class: "checkbox", disabled: true %>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col">
								<div class="form-group">
									<%= j.label :department %>
							    	<%= j.select :department, Judge.departments.keys.to_a, {}, class: "form-control", disabled: true %>
								</div>
							</div>
						</div>
					</div>
					<div class="col-12 col-sm-6">
						<div class="row">
							<div class="col">
								<%= j.label "Area de expertise" %>
								<%= j.collection_check_boxes :expertise_area_ids, ExpertiseArea.all, :id, :area do |b| %>
									<div class="collection-check-box">
										<%= b.check_box disabled: true %>
										<%= b.label %>
									</div>
								<% end %>
							</div>
						</div>
						<div class="col text-right">
							<%= link_to 'Editar', edit_judge_judge_path(@judge), class: "btn btn-primary" %>
						</div>
					</div>
				</div>
			<% end %>
		<% end %>
</div>