<% provide(:title, 'Editar proyecto') %>

<div class="row text-center lower-border my-4">
  <div class="col-12 col-md-6 offset-md-3">
    <h1>Actualiza tu proyecto</h1>
  </div>
</div>


<%= form_for @user, url: project_profile_edit_path do |f| %>
  <%= f.fields_for :project, @user.project do |j| %>
  <div class="row">
    <%= render "errors" %>

    <div class="col-12 col-sm-6">

      <div>
        <h3>Información general</h3>
      </div>
      <% if @current_project.status == "Aprobado" %>
        <div class="row">
          <div class="col">
            <div class="form-group">
              <%= j.label :video_url, "Liga de video" %>
              <%= j.text_field :video_url, class: "form-control" %>
            </div>
          </div>
        </div>
      <% elsif @current_project.status == "No aprobado" %>
        <div class="row">
          <div class="col">
            <div class="form-group">
              <%= j.label :reason, "Razón" %>
              <%= j.text_field :reason, class: "form-control", readonly: true %>
            </div>
          </div>
        </div>    
      <% else %>
       <div class="row">
          <div class="col">
              <div class="form-group">
                  <%= j.label :status, "Estatus" %>
                  <%= j.text_field :status, class: "form-control", readonly: true %>
              </div>
          </div>
        </div>
      <% end %>      
      <div class="row">
        <div class="col">
          <div class="form-group">
            <%= j.label :category_id, "Categoría" %>
            <%= j.select :category_id, 
              options_for_select(Category.all.collect{ |p| [p.name, p.id] } ), 
                        {}, class: "form-control" %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="form-group">
            <%= f.label :email, "Correo electrónico" %>
            <%= f.email_field :email, class: "form-control" %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="form-group">
            <%= j.label :name, "Nombre del proyecto" %>
            <%= j.text_field :name, class: "form-control" %>
          </div>
        </div>
      </div>  
      <div class="row">
        <div class="col">
          <div class="form-group">
            <%= j.label :field, "Área temática", class: "form-check-label" %>
            <%= j.select :field, Project.fields.keys.to_a, {}, class: "form-control" %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="form-group">
            <%= j.label :expertise_area_id, "Tipo del proyecto" %>
            <%= j.select :expertise_area_id, 
              options_for_select(ExpertiseArea.all.collect{ |p| [p.area, p.id] } ), 
                        {}, class: "form-control" %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="form-group">
            <%= j.label :client, "Cliente" %>
            <%= j.select :client, Project.clients.keys.to_a, {}, class: "form-control" %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="form-group">
            <%= j.label :abstract, "Abstract" %>
            <%= j.text_area :abstract, class: "form-control" %>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6">
      <div>
        <h3>Información del equipo</h3>
      </div>
      <% @current_project.students.each_with_index do |student, index| %>
        <%= j.fields_for 'students[]', student do |s| %>
        <% if index < @project.students.count - 1 %>
          <div class="lower-border pb-4 my-4">
        <% else %>
          <div>
        <% end %>
          <div class="row">
            <div class="col">
              <div class="form-group">
            <%= s.label :name, "Nombre" %>
            <%= s.text_field :name, class: "form-control" %>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="form-group">
            <%= s.label :email, "Correo" %>
            <%= s.text_field :email, class: "form-control" %>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="form-group">
            <%= s.label :enrollment, "Matrícula" %>
            <%= s.text_field :enrollment, class: "form-control" %>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="form-group">
            <%= s.label :major, "Carrera" %>
            <%= s.text_field :major, class: "form-control" %>
              </div>
            </div>
          </div>
        </div>
        <% end %>
      <% end %>
      
      <div>
        <h3>Información del profesor</h3>
      </div>
      <%= j.fields_for :professor, @project.professor do |p| %>
        <div class="row">
          <div class="col">
            <div class="form-group">
              <%= p.label :name, "Nombre del profesor" %>
              <%= p.text_field :name, class: 'form-control' %> 
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="form-group">
              <%= p.label :department, "Departamento" %>
              <%= p.select :department, Professor.departments.keys.to_a, 
                {}, class: 'form-control' %> 
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="form-group">
              <%= p.label :course_code, "Clave de Materia" %>
              <%= p.text_field :course_code, class: 'form-control' %> 
            </div>
          </div>
        </div>
      <% end %>
      <div class="row text-right">
        <div class="col">
          <%= f.submit "Guardar Cambios", class: "btn btn-primary" %>
        </div>
      </div>
    </div>
      
  </div>
  <% end %>
<% end %>