<h1>Mi proyecto</h1>

<table class="table">
	<thead>
		<tr>
			<th scope="col">Nombre del proyecto</th>
			<th scope="col">Tipo del proyecto</th>
			<th scope="col">Area del proyecto</th>
			<th scope="col">Categoría del proyecto</th>
			<th scope="col">Descripción</th>
			<th scope="col">Abstract</th>
			<th scope="3"></th>
		</tr>
	</thead>
	<tbody>
		<tr scope="row">
			<td><%= @project.name %></td>
			<td><%= @project.expertise_area.area %></td>
			<td><%= @project.field %></td>
			<td><%= @project.category.name %></td>
			<td><%= @project.description %></td>
			<td><%= @project.abstract %></td>
			<td><%= link_to 'Edit', project_profile_edit_path(@project)%></td>
		</tr>
	</tbody>
</table>
