<% provide(:title, "Mi Proyecto") %>

<div class="row lower-border my-4">
	<div class="col">
		<h1><%= @project.name %></h1>
	</div>
	<div class="col text-right">
		<%= link_to 'Edit', project_profile_edit_path(@project), class: "btn btn-primary" %>
	</div>
</div>

<%= form_for @project, url: project_profile_path do |f| %>	
<div class="row">
	<div class="col-12 col-md-6">	
		<div>
			<h3>Información general</h3>
		</div>	
		<div class="row">
	        <div class="col">
	            <div class="form-group">
	                <%= f.label :status %>
	                <%= f.text_field :status, class: "form-control", readonly: true %>
	            </div>
	        </div>
        </div>      
		<div class="row">
			<div class="col">
				<div class="form-group">
					<%= f.label :category_id, "Categoría del proyecto" %>
					<%= f.select :category_id, options_for_select(Category.all.collect{ |p| [p.name, p.id] } ), {}, class: "form-control", disabled: true %>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<div class="form-group">
					<%= f.label :field, "Área temática" %>
					<%= f.select :field, Project.fields.keys.to_a, {}, class: "form-control", 
						disabled: true %>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<div class="form-group">
					<%= f.label :expertise_area_id, "Tipo de proyecto" %>
					<%= f.select :expertise_area_id, 
						options_for_select(ExpertiseArea.all.collect{ |p| [p.area, p.id] } ), 
	                  	{}, class: "form-control", disabled: true %>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<div class="form-group">
					<%= f.label :client, "Cliente" %>
					<%= f.select :client, Project.clients.keys.to_a, {}, class: "form-control", 
						disabled: true %>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<div class="form-group">
					<%= f.label :description, "Descripción del proyecto" %>
					<%= f.text_area :description, rows: 2,class: "form-control", disabled: true %>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<div class="form-group">
					<%= f.label :abstract,"Abstract" %>
					<%= f.text_area :abstract, rows: 4,class: "form-control", disabled: true %>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<div class="form-group">
					<%= f.label :event_date, "Fecha del evento" %>
					<% if !@project.event_date.event %>
						<%= f.text_field :event_date, value: "Sin fecha asignada", class: "form-control", disabled: true %>
          			<% else %>
          				<%= f.text_field :event_date, value: @project.event_date.event, class: "form-control", disabled:true %>
          			<% end %>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<div class="form-group">
					<%= f.label :stand %>
					<% if !@project.stand %>
            			<%= f.text_field :stand, value: "Sin stand asignado", class: "form-control", disabled:true %>
          			<% else %>
            			<%= f.text_field :stand, class: "form-control", disabled:true %>
          		<% end %>
				</div>
			</div>
		</div>
	</div>
	<div class="col-12 col-md-6">
		<div class="row">
			<div class="col">
				<div>
					<h3>Información del equipo</h3>
				</div>
				<% @project.students.each_with_index do |student, index| %>
					<%= f.fields_for 'students[]', student do |s| %>
						<% if index < @project.students.count - 1 %>
							<div class="lower-border pb-4 my-4">
						<% else %>
							<div>
						<% end %>
						<div class="row">
							<div class="col">
								<div class="form-group">
									<%= s.label :name, "Nombre" %>
									<%= s.text_field :name, class: "form-control",
									disabled: true %>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col">
								<div class="form-group">
									<%= s.label :email, "Correo" %>
									<%= s.text_field :email, class: "form-control",
									disabled: true %>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col">
								<div class="form-group">
									<%= s.label :enrollment, "Matrícula" %>
									<%= s.text_field :enrollment, class: "form-control",
									disabled: true %>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col">
								<div class="form-group">
									<%= s.label :major, "Carrera" %>
									<%= s.text_field :major, class: "form-control",
									disabled: true %>
								</div>
							</div>
						</div>
						</div>
					<% end %>
				<% end %>
			</div>
		</div>
		<div class="row">
	        <div class="col">
	        	<div>
	        		<h3>Información del profesor coordinador</h3>
	        	</div>
		        <%= f.fields_for :professor, @project.professor do |p| %>
					<div class="row">
						<div class="col">
							<div class="form-group">
								<%= p.label :name, "Nombre del profesor" %>
								<%= p.text_field :name, class: 'form-control', 
									disabled: true %> 
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col">
							<div class="form-group">
								<%= p.label :department, "Departamento" %>
								<%= p.select :department, Professor.departments.keys.to_a, 
									{}, class: 'form-control', disabled: true %> 
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col">
							<div class="form-group">
								<%= p.label :course_code, "Clave de Materia" %>
								<%= p.text_field :course_code, class: 'form-control',
									disabled: true %> 
							</div>
						</div>
					</div>
				<% end %>
	        </div>
	    </div>
	</div>
</div>
<% end %>