<h1>New Judge</h1>


<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<%= form_for(@judge) do |f| %>
			<%= f.label :name %>
			<%= f.text_field :name %>

			<%= f.label :department%>
			<%= f.text_field :department%>

			<%= f.label :has_tablet%>
			<%= f.check_box :has_tablet %>

			<%= f.label :email %>
			<%= f.email_field :email %>

			<%= f.label :password %>
			<%= f.password_field :password%>

			<%= f.submit "Create account", class: "btn btn-primary"%>
		<% end %>
	</div>
</div>