<p id="notice"><%= notice %></p>

<!-- TODO(CCLJ): Borrar o agregar la vista correspondiente si se necesita -->
<%#= render 'layouts/notification' %>

<p>
  <strong>Has tablet:</strong>
  <%= @judge.has_tablet %>
</p>

<p>
  <strong>Department:</strong>
  <%= @judge.department %>
</p>

<p>
  <strong>Email:</strong>
  <%= @judge.user.email %>
</p>

<p>
  <strong>Name:</strong>
  <%= @judge.name %>
</p>

<%= link_to 'Edit', edit_judge_path(@judge) %> |
<%= link_to 'Back', judges_path %>
