<div class="d-flex" id="wrapper">

  <!-- Sidebar -->
  <div class="border-right" id="sidebar-wrapper">
    <div class="sidebar-heading bg-primary text-white">
      <h2>Operativo</h2>
    </div>
    <div class="list-group list-group-flush">
       <div class="dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Registro de asistencia
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="<%= common_projects_assistance_path%>">Proyectos</a>
          <a class="dropdown-item" href="<%= common_judges_assistance_path%>">Jueces</a>
        </div>
      </div> 
      <%= link_to "Asignar juez", common_assignments_path, class: "nav-link" %>
    </div>
  </div>
  
  <!-- Page Content -->
  <div id="page-content-wrapper">
    <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
      <button class="btn btn-primary" id="menu-toggle"><span class="navbar-toggler-icon"></span></button>
      <div class="dropdown ml-auto mt-2 mt-lg-0 dropleft">
        <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">
          <i class="fa fa-chevron-down" aria-hidden="true"></i> <%= current_user.name %>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <%# <%= link_to "Editar perfil", operative_edit_path(current_user.id), class: 'dropdown-item' %> 
          <%# <div class="dropdown-divider"></div> %>
          <%= link_to "Cerrar Sesión", logout_operative_path, method: :post, class: 'dropdown-item' %>
        </div>
        </li>
      </div>
    </nav>
    <div class="container-fluid">
      <div class="container mx-auto">
        <div class="row mt-3">
          <div class="col">
            <% flash.each do |message_type, message| %>
            <div class="alert alert-<%= message_type %>">
              <%= message %>
              <button class="close" data-dismiss="alert">×</button>
            </div>
            <% end %>
          </div>
        </div>
      </div>
      <div class="container bottom-padding">
        <%= yield %>
      </div>
    </div>
  </div>
  <!-- /#page-content-wrapper -->
</div>
<script>
  $("#menu-toggle").click(function (e) {
    e.preventDefault();
    $("#wrapper").toggleClass("toggled");
  });
</script>
