<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<h3 data-toggle="tooltip" data-placement="top" data-link="<%project.abstract%>">
				<%= project.name %>
			</h3>
			<div class="row">
				<div class="col-md-4">
					<small> <strong>ID: </strong> <%= project.id%> </small>
				</div>
				<div class="col-md-4">
					<small> <strong>Día: </strong> <%= project.id%> </small>
				</div>
				<div class="col-md-4">

        <% if project.stand_id.nil? %>
         <small> <strong>Stand: </strong> Pendiente de asignación </small> 
        <% else %>
          <small> <strong>Stand: </strong> <%= project.stand.number%> </small>
        <% end %>
	
				</div>
			</div>
			
			<div class="row">
				<div class="col-md-4">
					<strong>Profesor: </strong> <%= project.professor.user.name %><br>
				</div>
        <div class="col-md-4">
					<strong>Alumno responsable: </strong> <%= project.student.user.name %><br>
				</div>
		  </div><br>
                  
      <% if project.attended %>
        <%= link_to common_project_mark_assistance_path(project), method: :mark_assistance, data: { confirm: 'Se quitara la asistencia al proyecto ¿Estás seguro que deseas realizar esta acción?'} do %>
          <span><i class="fa fa-user-times" style="color: orange"></i></i> Retirar asistencia</span>
		    <% end %>
      <% else %>
        <%= link_to common_project_mark_assistance_path(project), method: :mark_assistance, data: { confirm: '¿Estás seguro que deseas confirmar la asistencia de este proyecto?'} do %>
          <span><i class="fa fa-user-plus" style="color: green"></i></i> Marcar asistencia</span>
		    <% end %>
      <% end %>
    
	</div>
</div>
<hr>

</div>
