<h1>Lista de proyectos</h1>

<table>
	<thead>
		<tr>
			<th>Nombre</th>
			<th>Área</th>
			<th>Tipo</th>
			<th>Cliente</th>
			<th>Abstract</th>
			<th>Video URL</th>
			<th>Asistancia</th>
			<th colspan="3"></th>
		</tr>
	</thead>

	<tbody>
		<% @projects.each do |project| %>
			<tr>
				<td><%= project.name %></td>
				<td><%= project.field %></td>
				<td><%= project.expertise_area.area %></td>
				<td><%= project.client %></td>
				<td><%= project.abstract %></td>
				<td><%= project.video_url %></td>
				<td>
					<%=form_for project, url: {action: 'update'} do |p|%>
						<%= p.hidden_field :id%>
						<%= p.check_box :assistance, :onclick => "this.form.submit()" %>
					<% end %>
				</td>
			</tr>
		<% end %>
	</tbody>
</table>
