<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<h3 data-toggle="tooltip" data-placement="top" data-link="<%project.abstract%>">
				<%= project.name %>
			</h3>
			<div class="row">
				<div class="col-md-4">
					<small> <strong>ID: </strong> <%= project.id%> </small>
				</div>
				<div class="col-md-4">
					<small> <strong>Día: </strong> <%= project.id%> </small>
				</div>
				<div class="col-md-4">
		        	<% if project.stand_id.nil? %>
		         		<small> <strong>Stand: </strong> Pendiente de asignación </small> 
		        	<% else %>
		          		<small> <strong>Stand: </strong> <%= project.stand.number%> </small>
		        	<% end %>
				</div>
			</div>
					
			<div class="row">
				<div class="col-md-4">
					<strong>Profesor: </strong> <%= project.professor.user.name %><br>
				</div>
		        <div class="col-md-4">
					<strong>Alumno responsable: </strong> <%= project.student.user.name %><br>
				</div>
			</div><br>

            <%= form_for project, url: common_assign_stand_path(project.id) do |f|  %>
							<div class="form-group">
								<div class="row">
									<div class="col-md-1">
										<%= f.label :stand_id, 'No._de_stand' %><br>
										<%= f.select :stand_id, options_from_collection_for_select(Stand.all, :id, :number), {}, class: 'form-control' %>
									</div>
								</div><br />
								<%= f.submit "Asignar stand", class: "btn btn-primary", data: { confirm: 'Se asignara el stand seleccionado, ¿Estás seguro que deseas guardar estos cambios?' }%>
							</div><br/>
	          
	        	<% end %>

	    </div>
	</div>
	<hr>
</div>