<p id="notice"><%= notice %></p>

<h1>Evaluations</h1>

<table>
  <thead>
    <tr>
      <th>Departamento</th>
      <th>Proyecto</th>
      <th>Juez</th>
      <th>Calificacion</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @evaluations.each do |evaluation| %>   
      <tr>
        <td><%= evaluation.project.expertise_area.area %></td>
        <td><%= evaluation.project.name %></td>
        <td><%= evaluation.judge.name %></td>
        <td><%= evaluation.total %> </td>
        <td><%= link_to 'Delete', admin_evaluation_path(evaluation.id), method: :delete, data: {confirm: "Seguro que deseas borrar el Evaluacion #{evaluation.id}?"}  %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>