<%= form_for @client, url: @url do |f|  %>
  <div class='row'>
    <div class='col-md-12'>
      <%= f.label :client, 'Cliente' %>
      <%= f.text_field :client, class: 'form-control' %>
    </div>
  </div>

  <br>

  <div class='row'>
    <div class='col-md-6'>
      <%= link_to 'Cancelar', common_clients_path, class: 'btn btn-light btn-bock' %>
    </div>
    <div class='col-md-6'>
      <%= f.submit 'Guardar', class: 'btn btn-primary btn-block', data: { confirm: '¿Estás seguro que deseas guardar los cambios?' } %>
    </div>
  </div>
<% end %>
