<% provide(:title, 'Editar proyecto') %>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h1>Actualizar proyecto</h1>
    </div>
  </div>


<%= form_for @project, url: admin_project_path do |f| %>
<%= f.fields_for :user, @user.project do |u| %>
	<div class="row">
		<div class="col-md-12">
    <h3> Datos del proyecto </h3>
			<div class="row">
				<div class="col-md-4">
        ID
				</div>
				<div class="col-md-4">
        STAND
				</div>
				<div class="col-md-4">
        DIA
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
        <%= f.label :name, 'Nombre del Proyecto' %>
        <%= f.text_field :name, class: "form-control" %>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
        <%= f.label :category, 'Categoría del Proyecto'%>
        <%= f.select :category_id, options_from_collection_for_select(Category.all, :id, :name, @project.category_id) %>
				</div>
				<div class="col-md-6">
        <%= f.label :field, 'Área temática'%>
        <%= f.select :field_id, options_from_collection_for_select(Field.all, :id, :name, @project.field_id) %>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
        <%= f.label :expertise_area, 'Tipo de proyecto'%>
        <%= f.select :expertise_area_id, options_from_collection_for_select(ExpertiseArea.all, :id, :area, @project.expertise_area_id) %>  
				</div>
				<div class="col-md-6">
        <%= f.label :client, 'Cliente del proyecto'%>
        <%= f.select :client_id, options_from_collection_for_select(Client.all, :id, :client, @project.client_id) %>  
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
        <%= f.label :description, 'Objetivo'%>
        <%= f.text_area :description, :rows => 3, class: "form-control" %>  
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
        <%= f.label :abstract, 'Abstract'%>
        <%= f.text_area :abstract, :rows => 10, class: "form-control" %> 
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
        <%= f.label :video_url, 'Video de Youtube'%>
        <%= f.text_field :video_url, class: "form-control" %> 
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
				</div>
			</div>
		</div>
	</div>
	<div class="row">
    <h3> Datos del alumno responsable </h3>
		<div class="col-md-12">
      <div class="row">
        <div class="cold-md-6">
        <%= u.label :name, 'Nombre: '%>
        <%= u.text_field :name, class: "form-control" %>
        </div>
        <div class="cold-md-4">
         <%= u.label :email, 'E-mail: '%>
          <%= u.text_field :email, class: "form-control"%>
        </div>
        <div class="cold-md-2">
        <%= u.label :major, 'Carrera'%>
        <%= u.select :major, Student.majors.keys.to_a, {}, class: 'form-control'%>
        </div>
      </div>
		</div>
	</div>
	<div class="row">
    <h3> Datos del profesor coordinador </h3>
    <%= f.fields_for :professor, @user.project.build_professor do |p|%>
		<div class="col-md-12">
      <div class="row">
          <div class="cold-md-6">
          <%= p.label :name, 'Nombre: '%>
          <%= p.text_field :name, class: "form-control" %>
          </div>
          <div class="cold-md-4">
          <%= p.label :email, 'E-mail: '%>
            <%= p.email :project, class: "form-control"%>
          </div>
          <div class="cold-md-2">
          <%= p.label :department, 'Departamento'%>
          <%= p.select :department, Professor.departments.keys.to_a, {}, class: 'form-control'  %>  
          </div>
      </div>
      <div class="row">
					<div class="col">
						<div class="form-group">
							<%= p.label :course_code, "Clave de Materia" %>
							<%= p.text_field :course_code, class: 'form-control' %> 
						</div>
					</div>
				</div>
		</div>
    <% end %>
	</div>
  <div class="row">
    <div class="col-md-6">
      <%= f.submit "Guardar cambios", class: "btn btn-primary"%>
    </div>
  </div>
  <% end %>
<% end %>
</div>


