<div class="container">

	<br>
	<h1>Registro de Proyecto</h1>
	<br>

	<%= render "errors" %>

	<%= form_for @user, url: signup_project_path do |f| %>
		<%= f.fields_for :project, @user.project do |j| %>

			<%= f.hidden_field :role, :value => "project" %>
			<%= j.hidden_field :status, :value => "No calificado" %>

			<h3>Información del proyecto</h3>
			<br>
			<div class="row">
				<div class="col">
					<div class="form-group">
						<%= j.label :nombre_del_proyecto %>
						<%= j.text_field :name, class: "form-control" %>
					</div>
				</div>
			</div>	
			<div class="row">
				<div class="col">
					<div class="form-group">
						<%= j.label :category_id, "Categoría del proyecto" %>
						<%= j.select :category_id, options_for_select(Category.all.collect{ |p| [p.name, p.id] } ), {}, class: "form-control" %>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<div class="form-group">
						<%= j.label :field, "Área temática" %>
						<%= j.select :field, Project.fields.keys.to_a, {}, class: "form-control" %>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<div class="form-group">
						<%= j.label :expertise_area_id, "Tipo de proyecto" %>
						<%= j.select :expertise_area_id, 
							options_for_select(ExpertiseArea.all.collect{ |p| [p.area, p.id] } ), 
		                  	{}, class: "form-control" %>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<div class="form-group">
						<%= j.label :cliente_del_proyecto %>
						<%= j.select :client, Project.clients.keys.to_a, {}, class: "form-control" %>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<div class="form-group">
						<%= j.label :descripción_del_proyecto %>
						<%= j.text_area :description, rows: 2,class: "form-control" %>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<div class="form-group">
						<%= j.label :abstract %>
						<%= j.text_area :abstract, rows: 4,class: "form-control" %>
					</div>
				</div>
			</div>
			<br>
			<h3>Información del alumno responsable</h3>
			<br>
			<div class="row">
				<div class="col">
					<div class="form-group">
						<%= f.label :email, "Correo electrónico" %>
						<%= f.email_field :email, class: "form-control" %>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<div class="form-group">
						<%= f.label :password, "Contraseña" %>
						<%= f.password_field :password, class: "form-control" %>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<div class="form-group">
						<%= f.label :password_confirmation, "Confirma tu contraseña" %>
						<%= f.password_field :password_confirmation, class: "form-control" %>
					</div>
				</div>
			</div>

			<br>
			<h3>Información del equipo</h3>
			<%= f.label :agregar_estudiante %>
			<%= button_tag "Agregar estudiante", type: "button", id: "add_student" %>
			<div class="row">
				<div class="col">
					<div class="form-group", id="members_form">
					</div>
				</div>
			</div>			
			<br>
			<br>

			<br>
			<h3>Información del profesor coordinador</h3>
			<br>

			<div class="row">
		        <div class="col">
		          <div class="form-group">
		            <%= j.label :professor_id, "Profesor" %>
		            <%= j.select :professor_id, 
		                  options_for_select(Professor.all.collect{ |p| [p.name, p.id] } ), 
		                  {}, class: "form-control" %>
		          </div>
		        </div>
		    </div>
			<div class="row">
				<div class="col">
					<%= f.submit "Crear proyecto", class: "btn btn-primary" %>
				</div>
			</div>
		<% end %>
	<% end %>
</div>
