<div class="container">

	<h1>Proyecto Nuevo</h1>

	<%= render "errors" %>

	<%= form_for @user, url: signup_project_path do |f| %>
		<%= f.fields_for :project, @user.project do |j| %>

			<%= f.hidden_field :role, :value => "project" %>
			<%= f.hidden_field :status, :value => 0 %>

			<div class="row">
				<div class="col">
					<div class="form-group">
						<%= f.label :email %>
						<%= f.email_field :email, class: "form-control" %>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<div class="form-group">
						<%= f.label :password %>
						<%= f.password_field :password, class: "form-control" %>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<div class="form-group">
						<%= f.label :password_confirmation %>
						<%= f.password_field :password_confirmation, class: "form-control" %>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<div class="form-group">
						<%= j.label :name %>
						<%= j.text_field :name, class: "form-control" %>
					</div>
				</div>
			</div>	
			<div class="row">
				<div class="col">
					<div class="form-group">
						<%= j.label :field, class: "form-check-label" %>
						<%= j.select :field, Project.fields.keys.to_a, {}, class: "form-control" %>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<div class="form-group">
						<%= j.label :kind %>
						<%= j.select :kind, Project.kinds.keys.to_a, {}, class: "form-control" %>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<div class="form-group">
						<%= j.label :client %>
						<%= j.select :client, Project.clients.keys.to_a, {}, class: "form-control" %>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<div class="form-group">
						<%= j.label :abstract %>
						<%= j.text_area :abstract, class: "form-control" %>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<div class="form-group">
						<%= j.label :video_url %>
						<%= j.text_field :video_url, class: "form-control" %>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<div class="form-group">
						<%= f.label :professor_id, "Profesor" %>
						<%= f.select :professor_id, Profesor.all.collect { |p| [ p.name, p.id ] }, class: "form-control "  %>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<%= f.submit "Crear cuenta", class: "btn btn-primary" %>
				</div>
			</div>
		<% end %>
	<% end %>

</div>
