
<div class="container">

	<div class="row">
		<div class="col">
			<p>
			<strong>Nombre del proyecto:</strong>
			<%= @project.name %>
			</p>
		</div>
	</div>
	<div class="row">
		<div class="col">
			<p>
			<strong>Email:</strong>
			<%= @project.user.email %>
			</p>
		</div>
	</div>
	<div class="row">
		<div class="col">
			<p>
			<strong>Área:</strong>
			<%= @project.field %>
			</p>
		</div>
	</div>
	<div class="row">
		<div class="col">
			<p>
			<strong>Profesor:</strong>
			<%= @project.professor.name %>
			</p>
		</div>
	</div>
	<div class="row">
		<div class="col">
			<p>
			<strong>Tipo:</strong>
			<%= @project.expertise_area.area %>
			</p>
		</div>
	</div>
	<div class="row">
		<div class="col">
			<p>
			<strong>Cliente:</strong>
			<%= @project.client %>
			</p>
		</div>
	</div>
	<div class="row">
		<div class="col">
			<p>
			<strong>Abstract:</strong>
			<%= @project.abstract %>
			</p>
		</div>
	</div>
	<div class="row">
		<div class="col">
			<p>
			<strong>Video URL:</strong>
			<%= @project.video_url %>
			</p>
		</div>
	</div>
	<div class="row">
		<div class="col">
			<p>
			<strong>Estatus:</strong>
			<%= @project.status %>
			</p>
		</div>
	</div>

	<%= link_to 'Edit', edit_project_path(@project) %> |
	<%= link_to 'Back', projects_path %>
</div>





