<%= form_for @project, url: @url do |f|  %>
<div class="row">
    <div class="col-md-12">
        <strong><%= f.label :name, 'Nombre del Proyecto: ' %></strong>
        <%= f.text_field :name, class: "form-control" %>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <strong><%= f.label :category, 'Categoría del Proyecto: '%></strong>
        <%= f.select :category_id, options_from_collection_for_select(Category.all, :id, :name, @project.category_id) %>
    </div>
    <div class="col-md-6">
        <strong><%= f.label :field, 'Área temática: '%></strong>
        <%= f.select :field_id, options_from_collection_for_select(Field.all, :id, :name, @project.field_id) %>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <strong><%= f.label :expertise_area, 'Tipo de proyecto: '%></strong>
        <%= f.select :expertise_area_id, options_from_collection_for_select(ExpertiseArea.all, :id, :area, @project.expertise_area_id) %>  
    </div>
    <div class="col-md-6">
        <strong><%= f.label :client, 'Cliente del proyecto: '%></strong>
        <%= f.select :client_id, options_from_collection_for_select(Client.all, :id, :client, @project.client_id) %>  
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <strong><%= f.label :description, 'Objetivo: '%></strong>
        <%= f.text_area :description, :rows => 3, class: "form-control" %>  
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <strong><%= f.label :abstract, 'Abstract: '%></strong>
        <%= f.text_area :abstract, :rows => 10, class: "form-control" %> 
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <strong><%= f.label :video_url, 'Video de Youtube: '%></strong>
        <%= f.text_field :video_url, class: "form-control" %> 
    </div>
</div>

<h3> Datos del profesor coordinador </h3>
<div class="col-md-12">
    <div class="row">
        <div class="col-md-4">
            <strong><%= f.label :email_professor, 'Mail del profesor: '%></strong>
            <input type="text"  id="email_professor" name="project[email_professor]" class="form-control">
        </div>
        <div class="col-md-4">
            <strong><%= f.label :name_professor, 'Nombre del profesor: '%></strong>
            <input type="text"  id="name_professor" name="project[name_professor]" class="form-control">
        </div>
    </div>
    <div class="col-md-4">
        <strong><%= f.label :department, 'Departamento: '%></strong>
        <select id="department" name="project[department_professor]">
            <% Department.all.each do |department| %>
            <option value="<%= department.id %>"><%= department.name %></option>
            <% end %>
        </select>
    </div>
</div>
<div class="col">
    <%= link_to "Cancelar", student_profile_path, { class: "btn btn-default" } %>
    <%= f.submit "Registrar", class: "btn btn-primary", data: { confirm: '¿Estás seguro que registrar el proyecto?' } %>
</div>
<% end %>


