<tr>
      <tr scope="row">
        <td><%= project.name %></td>
        <td>
          <%= project.field.name %><br />
          <small><%= "Tipo de proyecto: #{project.expertise_area.area}" %></small><br />
          <small><%= "Categoría: #{project.category.name}" %></small>
        </td>
        <td><%= project.video_url.present? ? project.video_url : "Pendiente"%></td>
        <td><%= project.status.status %></td>
        <td><%= project.selection_score.present? ? project.selection_score : "Pendiente de calificar" %></td>
        <td>
          <%= link_to 'Editar', edit_student_project_path(project) %><br />
	      </td>
      </tr>

</tr>

