<tr>
  <td class='table-cell'>
    <%= project.name %>
  </td>
  <td class='table-cell'>
    <%= project.field.name %>
    <br>
    <small>
      <%= "Tipo de proyecto: #{project.expertise_area.area}" %>
    </small>
    <br>
    <small>
      <%= "Categoría: #{project.category.name}" %>
    </small>
  </td>
  <td class='table-cell'>
    <%= project.video_url.present? ? project.video_url : 'Pendiente' %>
  </td>
  <td class='table-cell'>
    <%= project.status.status %>
  </td>
  <td class='table-cell'>
    <%= project.selection_score.present? ? project.selection_score : 'Por calificar' %>
  </td>
  <td class='table-cell'>
    <% if can_edit_project %>
      <%= link_to 'Editar', edit_student_project_path(project), class: 'btn btn-info' %>
    <% end %>
  </td>
</tr>
