<h1>User log in</h1>

<table>
	<% if !@projects %>
		<tr>
			<td>No existen proyectos registrados</td>
		</tr>
	<% else %>
		<thead>
		    <tr>
		      <th>Name</th>
		      <th>Password</th>
		      <th>Field</th>
		      <th>Kind</th>
		      <th>Client</th>
		      <th>Abstract</th>
		      <th>Video url</th>
		      <th colspan="3"></th>
		    </tr>
		  </thead>
		  <tbody>
		  	<% @projects.each do |project| %>
		  	<tr>
		  		<td><%= project.name %></td>
		        <td><%= project.password %></td>
		        <td><%= project.field %></td>
		        <td><%= project.kind %></td>
		        <td><%= project.client %></td>
		        <td><%= project.abstract %></td>
		        <td><%= project.video_url %></td>
		        <td><%= link_to 'Show', project %></td>s
		        <td><%= link_to 'Edit', edit_project_path(project) %></td>
		        <td><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
		    </tr>
		    <% end %>
	<% end %>
</table>
