<% provide(:title, "Jueces") %>

<h1>Jueces</h1>

<table class="table table-responsibe">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Departamento</th>
      <th>Tiene Tableta?</th>
      <th>Áreas de expertise</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @judges.each do |judge| %>   
      <tr>
        <td><%= judge.name %></td>
        <td><%= judge.department %></td>
        <td><%= judge.has_tablet %></td>
        <td>
            <% judge.expertise_areas.each do | ea | %>
                <%= ea.area%>
            <%end%>
        </td>
        <td><%= link_to 'Delete', admin_judge_path(judge.id), method: :delete, data: {confirm: "Seguro que deseas borrar el juez #{judge.name}?"}  %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>