<div class="container">
	<div class="row">
		<div class="col-12 col-md-6 offset-md-3">
			<h1>Actualiza pregunta</h1>
		</div>
	</div>

	<!-- <%#= render "errors" %> -->
	<%= form_for @question, url: admin_question_path do |q|  %>

	<div class="row">
		<div class="col">
			<%= q.label :title %>
			<%= q.text_field :title, class: "form-control" %>
		</div>
	</div>

	<div class="row">
		<div class="col">
			<%= q.label :text %>
			<%= q.text_field :text, class: "form-control" %>
		</div>
	</div>

	<div class="row">
		<div clas="col">
			<div class="form-group">
				<%= q.label :category_id %>
				<%= q.select :category_id, options_for_select(Category.all.collect { |p| [p.name, p.id]}), {}, class: "form-control" %>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col">
			<%= q.submit "Editar pregunta", class: "btn btn-primary" %>
		</div>
	</div>
	<% end %>


</div>