<div class="container">
	<div class="row">
		<div class="col-12 col-md-6 offset-md-3">
			<h1>Actualiza tus datos</h1>
		</div>
	</div>

	<%= form_for @student, url: @url do |f|  %>
	    <div class="row">
	        <div class="col">
	            <%= f.label :carrera %>
	            <%= f.select :major_id, 
	              options_for_select(Major.all.collect{|m| [m.name, m.id]}, @student.major_id,), 
	                        {}, class: "form-control" %>
	        </div>
	    </div><br />

	    <div class="row">
	        <div class="col">
	        	<%= link_to "Cancelar", student_profile_path, { class: "btn btn-default" } %>
	            <%= f.submit "Guardar", class: "btn btn-primary", data: { confirm: '¿Estás seguro que deseas guardar los cambios?' } %>
	        </div>
	    </div>
	<% end %>
</div>