<tr>
	<td><%= project.name %></td>
    <td><%= project.field.name %></td>
    <td><%= project.expertise_area.area %></td>
    <td><%= project.abstract %></td>
    <td><%= link_to 'Evaluar', new_judge_evaluation_path(id: project.id) %></td>
</tr>