<tr>
  <td class='table-cell'>
    <%= edition.number %>
  </td>
  <td class='table-cell'>
    <%= edition.starting_date.strftime('%d/%m/%Y') if edition.starting_date.present? %>
    -
    <%= edition.ending_date.strftime('%d/%m/%Y') if edition.ending_date.present? %>
  </td>
  <td class='table-cell'>
    <%= edition.project_registration_starting_date.strftime('%d/%m/%Y') if edition.project_registration_starting_date.present? %>
    -
    <%= edition.project_registration_ending_date.strftime('%d/%m/%Y') if edition.project_registration_ending_date.present? %>
  </td>
  <td class='table-cell'>
    <%= edition.project_edition_starting_date.strftime('%d/%m/%Y') if edition.project_edition_starting_date.present? %>
    -
    <%= edition.project_edition_ending_date.strftime('%d/%m/%Y') if edition.project_edition_ending_date.present? %>
  </td>
  <td class='table-cell'>
    <%= edition.video_open.strftime('%d/%m/%Y') if edition.video_open.present? %>
    -
    <%= edition.video_limit.strftime('%d/%m/%Y') if edition.video_limit.present? %>
  </td>
  <td class='table-cell'>
    <div class='dropdown'>
      <button class='btn btn-info dropdown-toggle' type='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false'>
        Acciones
      </button>
      <div class='dropdown-menu'>
        <%= link_to 'Editar', edit_common_edition_path(edition), class: 'dropdown-item' %>
        <%= link_to 'Eliminar', common_edition_path(edition), class: 'dropdown-item', method: :delete, data: { confirm: '¿Estás seguro que deseas eliminar esta edición?'} %>
      </div>
    </div>
  </td>
</tr>