<%= form_for @edition, url: @url do |f|  %>
  <div class='row'>
    <div class='col-md-2 form-group col-text-centered'>
      <%= f.label :number, 'Número de edición' %>
      <%= f.number_field :number, class: 'form-control' %>
    </div>
    <div class='col-md-4 form-group col-text-centered'>
      <%= f.label :starting_date, 'Fechas del evento' %>
      <div class='input-group'>
        <%= f.text_field :starting_date,
            class: 'form-control',
            data: { provide: 'datepicker', date_format: 'd/m/yyyy'},
            value: @edition.starting_date.present? ? @edition.starting_date.strftime('%d/%m/%Y') : '' %>
        <%= f.text_field :ending_date,
            class: 'form-control',
            data: { provide: 'datepicker', date_format: 'd/m/yyyy' },
            value: @edition.ending_date.present? ? @edition.ending_date.strftime('%d/%m/%Y') : '' %>
      </div>
    </div>
  </div>

  <hr>

  <div class='row'>
    <div class='col-md-8 col-centered col-text-centered'>
      <h3>Fechas límite</h3>
    </div>
  </div>

  <br>

  <div class='row'>
    <div class='col-md-4 form-group col-text-centered'>
      <%= f.label :project_registration_starting_date, 'Registro de proyecto' %>
      <div class='input-group'>
        <%= f.text_field :project_registration_starting_date,
            class: 'form-control',
            data: { provide: 'datepicker', date_format: 'd/m/yyyy' },
            value: @edition.project_registration_starting_date.present? ? @edition.project_registration_starting_date.strftime('%d/%m/%Y') : '' %>
        <%= f.text_field :project_registration_ending_date,
            class: 'form-control',
            data: { provide: 'datepicker', date_format: 'd/m/yyyy' },
            value: @edition.project_registration_ending_date.present? ? @edition.project_registration_ending_date.strftime('%d/%m/%Y') : '' %>
      </div>
    </div>
    <div class='col-md-4 form-group col-text-centered'>
      <%= f.label :project_edition_starting_date, 'Modificación de proyecto' %>
      <div class='input-group'>
        <%= f.text_field :project_edition_starting_date,
            class: 'form-control',
            data: { provide: 'datepicker', date_format: 'd/m/yyyy' },
            value: @edition.project_edition_starting_date.present? ? @edition.project_edition_starting_date.strftime('%d/%m/%Y') : '' %>
        <%= f.text_field :project_edition_ending_date,
            class: 'form-control',
            data: { provide: 'datepicker', date_format: 'd/m/yyyy' },
            value: @edition.project_edition_ending_date.present? ? @edition.project_edition_ending_date.strftime('%d/%m/%Y') : '' %>
      </div>
    </div>
    <div class='col-md-4 form-group col-text-centered'>
      <%= f.label :video_open, 'Registro de liga del vídeo' %>
      <div class='input-group'>
        <%= f.text_field :video_open,
            class: 'form-control',
            data: { provide: 'datepicker', date_format: 'd/m/yyyy' },
            value: @edition.video_open.present? ? @edition.video_open.strftime('%d/%m/%Y') : '' %>
        <%= f.text_field :video_limit,
            class: 'form-control',
            data: { provide: 'datepicker', date_format: 'd/m/yyyy' },
            value: @edition.video_limit.present? ? @edition.video_limit.strftime('%d/%m/%Y') : '' %>
      </div>
    </div>
  </div>

  <br>
  <br>

  <div class='row'>
    <div class='col-md-6'>
      <%= link_to 'Cancelar', common_editions_path, class: 'btn btn-light btn-block' %>
    </div>
    <div class='col'>
      <%= f.submit 'Guardar', class: 'btn btn-primary btn-block', data: { confirm: '¿Estás seguro que deseas guardar los cambios?' } %>
    </div>
  </div>
<% end %>

<br>
<br>
