<div class="d-flex" id="wrapper">

  <!-- Sidebar -->
  <div class="border-right" id="sidebar-wrapper">
    <div class="sidebar-heading bg-primary text-white">
      <h2>Evaluador</h2>
    </div>
    <div class="list-group list-group-flush">
      <%= link_to "Evaluaciones", judge_projects_path, class: "nav-link" %>
    </div>
  </div>
  <!-- /#sidebar-wrapper -->

  <!-- Page Content -->
  <div id="page-content-wrapper">
    <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
      <button class="btn btn-primary" id="menu-toggle"><span class="navbar-toggler-icon"></span></button>
      <div class="dropdown ml-auto mt-2 mt-lg-0 dropleft">
        <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">
          <%= current_user.name %>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <%= link_to "Editar perfil", judge_edit_path, class: 'dropdown-item' %>
          <div class="dropdown-divider"></div>
          <%= link_to "Cerrar Sesión", logout_judge_path, method: :post, class: 'dropdown-item' %>
        </div>
        </li>
      </div>
    </nav>
    <div class="container-fluid">
      <div class="container mx-auto">
        <div class="row mt-3">
          <div class="col">
            <% flash.each do |message_type, message| %>
            <div class="alert alert-<%= message_type %>">
              <%= message %>
              <button class="close" data-dismiss="alert">×</button>
            </div>
            <% end %>
          </div>
        </div>
      </div>
      <div class="container bottom-padding">
        <%= yield %>
      </div>
    </div>
  </div> 
  <!-- /#page-content-wrapper -->
</div>
<script>
  $("#menu-toggle").click(function (e) {
    e.preventDefault();
    $("#wrapper").toggleClass("toggled");
  });
</script>
