<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <%= link_to 'Conexión Tec', judge_profile_path, class: 'navbar-brand' %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerMenu" aria-controls="navbarTogglerMenu" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerMenu">
    <ul class="navbar-nav mx-auto justify-content-center">
      <li class="nav-item">
        <%= link_to "Mi información", judge_judge_path(current_judge.id), class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Proyectos", judge_projects_path, class: "nav-link" %>
      </li>
    </ul>
    <div class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <%= current_judge.name %>
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <%= link_to "Mi Perfil", '#', class: 'dropdown-item' %>
        <div class="dropdown-divider"></div>
        <%= link_to "Cerrar Sesión", '#', class: 'dropdown-item' %>
      </div>
    </div>
  </div>
</nav>