<% provide(:title, 'Editar juez') %>

<div class="container">
	<h1 style="text-align: center;">Actualiza los datos del juez</h1><br />

    <%= form_for @judge, url: @url do |f|  %>
	     <div class="row">
	        <div class="col">
	            <%= f.label :departamento %>
	            <%= f.select :department_id,
	              options_for_select(Department.all.collect{|d| [d.name, d.id]}, @judge.department_id,),
	                        {}, class: "form-control" %>
	        </div>
			    <div class="col">
	            <%= f.label :¿Cuenta_con_laptop_o_tableta? %>
	            <%= f.select :has_tablet,
	              options_for_select({"Si" => 1, "No" => 0}, @judge.has_tablet),
	                        {}, class: "form-control" %>
	        </div>
	  </div><br />
		<div class="row">
			<div class="col-md-6">
	       <%= f.label :Nombre_de_la_empresa_u_organizacion_donde_tabaja %>
	       <%= f.text_field :ex_nombreEmpresaExterna, class: "form-control" %>
	    </div>
	    <div class="col-md-6">
	       <div class="form-group">
           <label class="font-noraml">Áreas de expertise</label>
          <div class="input-group">
                        <select data-placeholder="Elige tus áreas de expertis" class="chosen-select" multiple style="width:100%;" tabindex="4" name="judge[expertise_areas][]">
                        	<% ExpertiseArea.all.each do |area| %>
                        		<option value="<%= area.id %>" <%= "selected" if @areas_ids.include?(area.id) %>><%= area.area %></option>
                        	<% end %>
                        </select>
                    </div>
                </div>
	        </div>
		</div><br />
		<div class="row">
			<div class="col">
	            <%= f.label :Nombre_del_contacto_en_el_Tec %>
	            <%= f.text_field :ex_contactName, class: "form-control" %>
	        </div>
			<div class="col">
	            <%= f.label :Email_del_contacto_en_el_Tec %>
	            <%= f.email_field :ex_contactEmail, class: "form-control" %>
	        </div>
	    </div><br />

	    <div class="row">
	        <div class="col-md-6">
	        	<%= link_to "Cancelar", judge_profile_path, { class: "btn btn-default", style: "width: 100%; border-color: #DCDCDC;" } %>
	        </div>
	        <div class="col-md-6">
	            <%= f.submit "Guardar", class: "btn btn-primary", style: "width: 100%;", data: { confirm: '¿Estás seguro que deseas guardar los cambios?' } %>
	        </div>
	    </div>
</div>
<% end %>


<script type="text/javascript">


$(function() {
    var config = {
        '.chosen-select': {},
        '.chosen-select-deselect': { allow_single_deselect: true },
        '.chosen-select-no-single': { disable_search_threshold: 10 },
        '.chosen-select-no-results': { no_results_text: 'Oops, nothing found!' },
        '.chosen-select-width': { width: "95%" }
    }
    for (var selector in config) {
        $(selector).chosen(config[selector]);
    }

});

</script>
