<%= form_for @project, url: @url do |f|  %>
	<div class='row'>
		<div class='col-md-6 form-group'>
			<strong><%= f.label :name, 'Nombre' %></strong>
			<%= f.text_field :name, class: 'form-control' %>
		</div>
		<div class='col-md-6 form-group'>
			<strong><%= f.label :category, 'Categoría'%></strong>
			<%= f.select :category_id, options_from_collection_for_select(Category.all, :id, :name, @project.category_id),{}, class: 'form-control'  %>
		</div>
		<div class='col-md-6 form-group'>
			<strong><%= f.label :field, 'Área temática'%></strong>
			<%= f.select :field_id, options_from_collection_for_select(Field.all, :id, :name, @project.field_id), {}, class: 'form-control' %>
		</div>
		<div class='col-md-6 form-group'>
			<strong><%= f.label :expertise_area, 'Tipo de proyecto'%></strong>
			<%= f.select :expertise_area_id, options_from_collection_for_select(ExpertiseArea.all, :id, :area, @project.expertise_area_id), {}, class: 'form-control' %>
		</div>
		<div class='col-md-6 form-group'>
			<strong><%= f.label :client, 'Tipo de cliente'%></strong>
			<%= f.select :client_id, options_from_collection_for_select(Client.all, :id, :client, @project.client_id), {}, class: 'form-control'%>
		</div>
		<div class='col-md-6 form-group'>
			<strong><%= f.label :video_url, 'Video de Youtube'%></strong>
			<%= f.text_field :video_url, class: 'form-control' %>
		</div>
		<div class='col-md-6 form-group' style='text-align: center;'>
			<strong><%= f.label :semestrei, 'Semestre i' %></strong>
			<%= f.check_box :semestrei %>
		</div>
		<div class='col-md-6 form-group' style='text-align: center;'>
			<strong><%= f.label :social_impact, 'Impacto Social' %></strong>
			<%= f.check_box :social_impact %>
		</div>
		<div class='col-md-12 form-group'>
			<strong><%= f.label :description, 'Objetivo'%></strong>
			<%= f.text_area :description, :rows => 3, class: 'form-control' %>
		</div>
	</div>

	<hr>

	<div class='row'>
		<div class='col-md-8 col-centered' style='text-align: center;'>
			<h3>Abstract</h3>
		</div>
	</div>
	<div class='row'>
		<div class='col-md-12 form-group'>
			<strong><%= f.label :abstract_problem, 'Problema'%></strong>
			<%= f.text_area :abstract_problem, :rows => 3, class: 'form-control' %>
		</div>
		<div class='col-md-12 form-group'>
			<strong><%= f.label :abstract_methodology, 'Metodología'%></strong>
			<%= f.text_area :abstract_methodology, :rows => 3, class: 'form-control' %>
		</div>
		<div class='col-md-12 form-group'>
			<strong><%= f.label :abstract_feasibility, 'Factibilidad'%></strong>
			<%= f.text_area :abstract_feasibility, :rows => 3, class: 'form-control' %>
		</div>
		<div class='col-md-12 form-group'>
			<strong><%= f.label :abstract_results, 'Resultados'%></strong>
			<%= f.text_area :abstract_results, :rows => 3, class: 'form-control' %>
		</div>
		<div class='col-md-12 form-group'>
			<strong><%= f.label :abstract_impact, 'Impacto'%></strong>
			<%= f.text_area :abstract_impact, :rows => 3, class: 'form-control' %>
		</div>
	</div>

	<% if @url == common_projects_path %> <!-- New -->
		<hr>

		<h3 style='text-align: center;'>Datos de estudiante y profesor</h3>
		<div class='row'>
			<div class='col-md-6 form-group'>
				<strong><%= f.label :student_id, 'Correo del estudiante responsable' %></strong>
				<%= f.email_field :student_id, class: 'form-control' %>
			</div>
			<div class='col-md-6 form-group'>
				<strong><%= f.label :student_name, 'Nombre del estudiante'%></strong>
				<input type='text'  id='student_name' name='project[student_name]' class='form-control'>
			</div>
			<div class='col-md-6 form-group'>
				<strong><%= f.label :professor_id, 'Correo del profesor responsable' %></strong>
				<%= f.email_field :professor_id, class: 'form-control' %>
			</div>
			<div class='col-md-6 form-group'>
				<strong><%= f.label :professor_name, 'Nombre del profesor'%></strong>
				<input type='text'  id='professor_name' name='project[professor_name]' class='form-control'>
			</div>
		</div>
	<% else %> <!-- Edit -->
		<div class='row'>
			<div class='col-md-3 form-group'>
				<strong><%= f.label :selection_score, 'Calificación para selección'%></strong>
				<%= f.text_field :selection_score, class: 'form-control' %>
			</div>
		</div>

		<hr>

		<div class='row'>
			<div class='col-md-8 col-centered' style='text-align: center;'>
				<h3>Datos del alumno responsable</h3>
			</div>
		</div>
		<div class='row'>
			<div class='col-md-4 form-group'>
				<strong><%= f.label :student_name, 'Nombre'%> </strong>
				<input type='text' disabled='true' value='<%= @project.student.user.name %>' class='form-control'>
			</div>
			<div class='col-md-4 form-group'>
				<strong><%= f.label :student_email, 'Mail'%> </strong>
				<input type='text' disabled='true' value='<%= @project.student.user.email %>' class='form-control'>
			</div>
			<div class='col-md-4 form-group'>
				<strong><%= f.label :major, 'Carrera'%> </strong>
				<input type='text' disabled='true' value='<%= @project.student.major.name %>' class='form-control'>
			</div>
		</div>

		<hr>

		<div class='row'>
			<div class='col-md-8 col-centered' style='text-align: center;'>
				<h3>Datos del profesor coordinador</h3>
			</div>
		</div>
		<div class='row'>
			<div class='col-md-4 form-group'>
				<strong><%= f.label :professor_name, 'Nombre'%> </strong>
				<input type='text' disabled='true' value='<%= @project.professor.user.name %>' class='form-control'>
			</div>
			<div class='col-md-4 form-group'>
				<strong><%= f.label :professor_email, 'Mail'%> </strong>
				<input type='text' disabled='true' value='<%= @project.professor.user.email %>' class='form-control'>
			</div>
			<div class='col-md-4 form-group'>
				<strong><%= f.label :major, 'Departamento'%> </strong>
				<input type='text' disabled='true' value='<%= @project.professor.department.name %>' class='form-control'>
			</div>
		</div>
	<% end %>

	<br>

	<div class='row'>
		<div class='col-md-6'>
			<%= link_to 'Cancelar', common_projects_path, { class: 'btn btn-default', style: 'width: 100%; border-color: #DCDCDC;' } %>
		</div>
		<div class='col-md-6'>
			<%= f.submit 'Guardar', class: 'btn btn-primary', style: 'width: 100%;', data: { confirm: '¿Estás seguro que deseas guardar los cambios?' } %>
		</div>
	</div>
	<br>
	<br>
<% end %>
