<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<h3 data-toggle="tooltip" data-placement="top" data-link="<%project.abstract%>">
				<%= project.name %>
			</h3>
			<div class="row">
				<div class="col-md-4">
					<small> <strong>ID: </strong> <%= project.id%> </small>
				</div>
				<div class="col-md-4">
					<small> <strong>Día: </strong> <%= rand(1..2) %> </small>
				</div>
				<div class="col-md-4">
					<small> <strong>Stand: </strong> <%= project.stand.nil? ? 'No asignado' : project.stand.number %> </small>
				</div>
			</div>
			
			<div class="row">
				<div class="col-md-4">
					<strong>Profesor: </strong> <%= project.professor.user.name %><br>
				</div>
				<div class="col-md-4">
					<strong> <%= project.expertise_area.area %> </strong>
				</div>
				<div class="col-md-4">
					<%= project.client.client%>
				</div>
			</div>
			<p>
				<%= project.description %>
			</p>
			<button type="button" class="btn btn-link btn-sm" data-toggle="modal" data-target="#modal-<%=project.id%>">
				Ver abstract
			</button>
			<div class="row">
				<div class="col-md-4">
					<%= project.student.user.name %>
				</div>
				<div class="col-md-4">
					<%= project.student.user.email %> 
				</div>
				<div class="col-md-4">
					<strong>Status: </strong> <%= project.status.status%> 
				</div>
			</div><br />
			<div class="row">
				<div class="col-md-8">
					<small><strong>Calificación: </strong></small>
					<% if project.project_grade.present? %>
					<%= project.project_grade.total_grade %> <br>
					<%= link_to common_approve_project_path(project), method: :approve, data: { confirm: '¿Estás seguro que deseas aprobar este proyecto?'} do %>
					<span style="color: green; margin-right: 25px;"><i class="fa fa-check"></i> Aprobar</span>
					<% end %>
					<%= link_to common_reject_project_path(project), method: :reject, data: { confirm: '¿Estás seguro que deseas rechazar este proyecto?'} do %>
					<span style="color: red"><i class="fa fa-times"></i> Rechazar</span>
					<% end %>
					<% else %>
					<small> Pendiente </small>
					<% end %>
				</div>
				<div class="col-md-4">
					<div class="dropdown">
						<button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown">
							Acciones
						</button>
						<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <% if project.project_grade==nil %>
              <%= link_to "Calificar Proyecto", new_common_project_project_grade_path(project), class: 'dropdown-item'%>
            <% else %>
              <%= link_to "Calificar Proyecto", edit_common_project_project_grade_path(project, project.project_grade), class: 'dropdown-item'%>
            <% end %>
							<%= link_to 'Editar/Ver detalle', edit_common_project_path(project), class: 'dropdown-item' %>
							<%= link_to common_project_path(project), class: 'dropdown-item', method: :delete, data: { confirm: '¿Estás seguro que deseas eliminar este proyecto?'} do %>
							<i class="fa fa-trash"></i> Eliminar
							<% end %>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<hr>

<!-- Modal -->
<div class="modal fade" id="modal-<%=project.id%>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Abstract: <%=project.name%></h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<%= project.abstract %>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
			</div>
		</div>
	</div>
</div>