<div class='row'>
  <div class='col-md-12'>

    <div class='row'>
      <div class='col-md-12'>
        <small>
          <%= "##{project_counter + 1}" %>
        </small>
        <h3 data-toggle='tooltip' data-placement='top'>
          <%= project.name %>
        </h3>
      </div>
    </div>

    <div class='row'>
      <div class='col-md-4'>
        <small>
          <strong>ID:</strong>
          <%= project.id%>
        </small>
      </div>
      <div class='col-md-4'>
        <small>
          <strong>Día:</strong>
          <%= rand(1..2) %>
        </small>
      </div>
      <div class='col-md-4'>
        <small>
          <strong>Stand:</strong>
          <%= project.stand.nil? ? 'No asignado' : project.stand.number %>
        </small>
      </div>
    </div>

    <div class='row'>
      <div class='col-md-4'>
        <strong>Profesor:</strong>
        <%= project.professor.user.name %>
        <br>
      </div>
      <div class='col-md-4'>
        <strong>
          <%= project.expertise_area.area %>
        </strong>
      </div>
      <div class='col-md-4'>
        <%= project.client.client%>
      </div>
    </div>

    <br>

    <div class='row'>
      <div class='col-md-12'>
        <p>
          <%= project.description %>
        </p>
      </div>
      <div class='col-md-2'>
        <% if project.abstract_problem.present? %>
          <button type='button' class='btn btn-info btn-sm' data-toggle='modal' data-target='#modal-<%=project.id%>'>
            Ver abstract
          </button>
        <% end %>
      </div>
    </div>

    <br>

    <div class='row'>
      <div class='col-md-4'>
        <%= project.student.user.name %>
      </div>
      <div class='col-md-4'>
        <%= project.student.user.email %>
      </div>
      <div class='col-md-4'>
        <strong>Estatus:</strong>
        <%= project.current_status%>
      </div>
    </div>

    <br>

    <div class='row'>
      <div class='col-md-8'>
        <div class='row'>
          <div class='col-md-4'>
            <strong>Calificación:</strong>
            <small>
              <%= project.project_grade.present? ? project.project_grade.total_grade : 'Pendiente' %>
            </small>
          </div>
          <div class='col-md-8 col-text-centered'>
            <%= link_to 'Aprobar',
                common_approve_project_path(project),
                method: :approve,
                data: { confirm: '¿Estás seguro que deseas aprobar este proyecto?'},
                class: 'btn btn-info' %>
            <%= link_to 'Rechazar',
                common_reject_project_path(project),
                method: :reject,
                data: { confirm: '¿Estás seguro que deseas rechazar este proyecto?'},
                class: 'btn btn-danger' %>
            <%= link_to 'Aceptar',
                common_accept_project_path(project),
                method: :accept,
                data: { confirm: '¿Estás seguro que deseas aceptar este proyecto?'},
                class: 'btn btn-success' %>
          </div>
        </div>
      </div>
      <div class='col-md-4'>
        <div class='dropdown'>
          <button class='btn btn-primary dropdown-toggle' type='button' id='dropdownMenuButton' data-toggle='dropdown'>
            Acciones
          </button>
          <div class='dropdown-menu' aria-labelledby='dropdownMenuButton'>
            <% if approved(project) %>
              <% if project.project_grade.nil? %>
                <%= link_to 'Calificar Proyecto', new_common_project_project_grade_path(project), class: 'dropdown-item'%>
              <% else %>
                <%= link_to 'Calificar Proyecto', edit_common_project_project_grade_path(project, project.project_grade), class: 'dropdown-item'%>
              <% end %>
            <% end %>
            <%= link_to 'Editar / Ver detalle', edit_common_project_path(project), class: 'dropdown-item' %>
            <%= link_to common_project_path(project), class: 'dropdown-item', method: :delete, data: { confirm: '¿Estás seguro que deseas eliminar este proyecto?'} do %>
              <i class='fa fa-trash'></i>Eliminar
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<hr>

<!-- Modal -->
<div class='modal fade' id='modal-<%=project.id%>' tabindex='-1' role='dialog' aria-labelledby='exampleModalLabel' aria-hidden='true'>
  <div class='modal-dialog' role='document'>
    <div class='modal-content'>
      <div class='modal-header'>
        <h5 class='modal-title' id='exampleModalLabel'>Abstract: <%=project.name%></h5>
        <button type='button' class='close' data-dismiss='modal' aria-label='Close'>
          <span aria-hidden='true'>&times;</span>
        </button>
      </div>
      <div class='modal-body'>
        <div class='container-fluid'>
          <div clas='row'>
            <div class='col-md-12'>
              <strong>Problema</strong>
              <p><%= project.abstract_problem %></p>
            </div>
            <div class='col-md-12'>
              <strong>Metodología</strong>
              <p><%= project.abstract_methodology %></p>
            </div>
            <div class='col-md-12'>
              <strong>Factibilidad</strong>
              <p><%= project.abstract_feasibility %></p>
            </div>
            <div class='col-md-12'>
              <strong>Resultados</strong>
              <p><%= project.abstract_results %></p>
            </div>
            <div class='col-md-12'>
              <strong>Impacto</strong>
              <p><%= project.abstract_impact %></p>
            </div>
          </div>
        </div>
      </div>
      <div class='modal-footer'>
        <button type='button' class='btn btn-secondary' data-dismiss='modal'>Cerrar</button>
      </div>
    </div>
  </div>
</div>
