<tr>
	<td><%= user.name %></td>
	<td><%= user.email %></td>
	<td><%= user.userable_type %></td>
	<td>
			<% if user.authorized == true %>
				Autorizado
			<% else %>
				<%= link_to admin_authorize_user_path(user), method: :put do %> <span id="authorize" style="color: green"><i class="fa fa-check"></i> Autorizar</span>
			<% end %>
		<% end %>
	</td>
	<td>
		<%= link_to 'Editar', edit_admin_user_path(user), metod: :put %>
	</td>
	<td>
		<%= link_to admin_user_path(user), method: :delete, data: { confirm: '¿Estás seguro que deseas eliminar este usuario?'} do %>
			<span style="color: red"><i class="fa fa-trash"></i> Eliminar</span>
		<% end %>
	</td>
</tr>