<% provide(:title, 'Evaluación') %>

<% if @assignment.evaluation.nil? %>
	<div class="row">
		<div class="col-md-12 col-centered">
			<div class="card" style="width: 100%;">
			  <div class="card-body">
			    <h4 class="card-title"><%= "Nombre: #{@project.name}" %></h4>
			    <hr>
			    <h5 class="card-subtitle mb-2 text-muted"><%= "Stand: #{@project.stand.number}" %></h5>
			    <p class="card-text"><%= "Categoría: #{@project.category.name}<br />Área de expertise: #{@project.expertise_area.area}".html_safe %></p>
			    <hr>
			    <p class="card-text"><%= "Objetivo: #{@project.description}"%></p>
			  </div>
			</div>
		</div>
	</div><br />

	<div class="row">
		<div class="col-md-12 col-centered">
	<%= form_for @evaluation, url: @url do |f| %>
		<%= render @questions %>

		<div class="row">
			<div class="col-md-6">
				<%= link_to "Cancelar", judge_projects_path, { class: "btn btn-default", style: "border-color: #DCDCDC; width: 100%;" } %>
			</div>

			<div class="col-md-6">
				<%= f.submit "Subir evaluación", class: "btn btn-primary", style: "width: 100%;" %>
			</div>
		</div>
		</div>
	<% end %>
		</div>
	</div>
<% else %>
	<h1 style="text-align: center;">El proyecto seleccionado ya fue evaluado</h1>
<% end %>