<h1>Evaluación de <%= @project.name%></h1>

<table class="table table-responsive">
	<thead>
		<tr>
			<th scope="col">Descripción</th>
			<th scope="col">Categoría</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><%= @project.description %></td>
			<td><%= @project.category.name %></td>
		</tr>
	</tbody>
</table>

<%= form_for @evaluation, url: judge_evaluation_project_submit_path(@project_id) do |f| %>
	<% @questions.each do |question| %>
	<div class="form-group">
		<div class="row">
			<div class="column">
				<p class="h1"><%= question.title%></p>
				<p class="h3"><%= question.text%></p>
				<div class="row">
					<%= collection_radio_buttons(:scores, question.id, (0..5).map{|n| [n, n]}, :first, :last) do |b| %>
						<div class="col-2">
							<div>
								<%= b.radio_button %>
							</div>
							<div>
								<%= b.label %>
							</div>
						</div>
					<% end %>
				</div>
				<br>
			</div>
		</div>
	</div>
	<% end %>
<%= f.submit "Subir evaluación", class: "btn btn-primary" %>
<% end %>