<!DOCTYPE html>
<html>
  <head>
    <%= render 'layouts/mobile' %>
    <title>ConexionTec - <%= yield(:title) %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/student/navbar' %>
    <%# Content is inside student/navbar component %>
    <%= render 'layouts/student/footer' %>
  </body>
</html>
